/* Add styles to all elements */
* {
	margin: 0; /* remove default margin from all elements */
	padding: 0; /* remove default padding from all elements */
	box-sizing: border-box; /* fix width calculation, more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}

/* Write your CSS below (feel free to change the styles already here) */

/* 
✅ must use absolute positioning at least once
✅ must use :hover and :active states at least once
✅ must use @keyframes at least once */
@font-face {
		font-family: 'DreamerTM'; 
		src: url('../fonts/DreamerTM-Regular.woff') format('woff');
}

body {
	font-family: serif;
	background-image: linear-gradient(to top,rgb(250, 186, 196),rgb(240, 231, 101), rgb(251, 251, 221),rgb(240, 231, 101),rgb(250, 186, 196), rgb(251, 251, 221));
	background-color: rgb(251, 251, 221);
	cursor: url('../cursor.png');
/* for animated bg */
	margin: 0;
    padding: 0;
    height: 100vh; 
}

.animated-gradient-background {
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(rgb(20, 10, 112), rgb(255, 154, 169),rgb(255, 238, 0),white,white);
    background-size: 300% 300%;
    animation: gradientbg 8s ease infinite; 
	position: relative;
}

@keyframes gradientbg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%;
    }
}

.dreamer-h{
	font-family: 'DreamerTM';
	width: 100%;
	text-align: center;
	margin: 10px auto;
	padding: 1%;
	font-size: 70px;
}

.dreamer-b{
	width: 100%;
	font-style: italic;
	max-width: 750px;
	margin: 10px auto;
	font-size: 17px;
}
/* pink */
.pinkpara{
	background-color: rgb(250, 186, 196);
	padding: 2%;
	width: 100%;
	max-width: 750px;
	margin: 10px auto;
	border: 0px, solid, rgb(251, 251, 231);
	transition: border 1s, rotate 2s;
}
.pinkpara:hover {
	border: 5px solid rgb(246, 231, 0);
}
.pinkpara:active {
	background-color: rgb(246, 231, 0);
	rotate: -3deg;
}

/* yellow */
.yellowpara{
	background-color: rgb(246, 231, 0);
	padding: 2%;
	width: 100%;
	max-width: 750px;
	margin: 10px auto;
	transition: border 1s, rotate 2s;

}
.yellowpara:hover {
	border: 5px solid rgb(251, 251, 231);
}
.yellowpara:active {
	background-color: rgb(251, 251, 231);
	rotate: 5deg;
}
/* blue */
.bluepara{
	background-color: rgb(47, 38, 125);
	color: rgb(251, 251, 231);
	padding: 2%;
	width: 100%;
	max-width: 750px;
	margin: 10px auto;
	border: 0px, solid,rgb(246, 231, 0);
	transition: border 1s, rotate 2s;
}
.bluepara:hover{
	border: 5px solid rgb(250, 186, 196);
}
.bluepara:active{
	background-color: rgb(250, 186, 196);
	color: black;
	rotate: 10deg;
}
/* white */
.whitepara{
	background-color: rgb(251, 251, 221);
	padding: 2%;
	width: 100%;
	max-width: 750px;
	margin: 10px auto;
	border: 0px, solid, rgb(250, 186, 196);
	transition: border 1s, rotate 2s;
}
.whitepara:hover {
	border: 5px solid rgb(47, 38, 125);
}

.whitepara:active {
	background-color: rgb(47, 38, 125);
	color: rgb(251, 251, 231);
	rotate: -9deg;
}

.block{
	background-color: rgb(47, 38, 125);
	padding: 1%;
}
.star1{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 180px;
	left: 60px;
	z-index: 9;
}
.star1:hover {
	opacity: 0;
}

.star2{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 480px;
	left: 800px;
	z-index: 9;
}
.star2:hover {
	opacity: 0;
}

.star3{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 580px;
	left: 820px;
	z-index: 9;
}
.star3:hover {
	opacity: 0;
}

.star4{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 980px;
	left: 920px;
	z-index: 9;
}
.star4:hover {
	opacity: 0;
}

.star5{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 1180px;
	left: 40px;
	z-index: 9;
}
.star5:hover {
	opacity: 0;
}

.star6{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 1740px;
	left: 600px;
	z-index: 9;
}
.star6:hover {
	opacity: 0;
}

.star7{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 2030px;
	left: 320px;
	z-index: 9;
}
.star7:hover {
	opacity: 0;
}

.star8{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 3030px;
	left: 830px;
	z-index: 9;
}
.star8:hover {
	opacity: 0;
}

.star9{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 3150px;
	left: 120px;
	z-index: 9;
}
.star9:hover {
	opacity: 0;
}

.star10{
	color: rgb(251, 251, 231);
	font-size: 24px; 
	position: absolute;
	top: 4000px;
	left: 500px;
	z-index: 9;
}
.star10:hover {
	opacity: 0;
}

/* link colors */
a:link {
	color: rgb(251, 251, 221);
}
a:visited {
	color: rgb(246, 231, 0);
}
a:hover {
	color: rgb(250, 186, 196);
}
a:active {
	color: rgb(246, 231, 0);
}

