/* Add styles to all elements */
* {
	margin: 0; /* remove default margin from all elements */
	padding: 0; /* remove default padding from all elements */
	box-sizing: border-box; /* fix width calculation, more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}

@font-face {
	font-family: "AUTHENTIC Sans";
	src: url("../fonts/authentic-sans-pro-60.woff2");
}

body {
	font-family: "AUTHENTIC Sans", sans-serif;
	background-color: rgba(255, 192, 203, 0.615);
}

h1{
	margin: 10px auto;
	text-align: center;

	/* figure how to auto centralise this */
}

.nav-parent{
	display: flex;
    flex-direction: row;
    align-items: center;
	background-color: pink;
	padding: 10px;
	gap: 5px;
	/* keep it in place */
	position: sticky;
    top: 0;
    z-index: 1000;  
}

.nav-para{
	background-color: rgba(253, 150, 167, 0.766);
	display: inline; 
	flex-grow: 1;
	border-radius: 12px;
	padding-top: .5%;
	padding-bottom: .5%;
	padding-left: 2%;
	padding-right: 2%;
	transition: flex-grow .3s;
}

.homepage{
	display: inline; 
	flex-grow: 1;
	transition: flex-grow .3s;
}

.nav-para:hover{
	flex-grow: 20;
}

.nav-para:active{
	background-color: rgba(255, 130, 149, 0.801);
}

.pos-sticky {
	position: sticky;
	top: 80px;
}

.spacer{
	flex-grow: 100;
}

.body-p{
	background-color: rgb(255, 192, 202);
	padding: 20px;
	max-width: 530px;
	margin: 10px auto;
	border-radius: 10px;
	/* add a shadow? */
	transition: scale .1s;
	border: 2px, solid, rgb(229, 147, 161) ;
}

.body-p:hover{
	scale: 1.02;
}

.body-p:active{
	z-index:999;
}

.highlight{
	transition: background-color .2s;
	font-style: bold;
	background-color: yellow;

}

.highlight:hover{
	background-color: rgba(255, 255, 0, 0.43);
}
.grid-parent{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
	gap: 30px;
	row-gap: 500px;
}

a{
	color: black;
	text-decoration: none;
}

.body-p:hover {
	scale: 1.02;
}

.tilde{
	color: rgb(155, 49, 67);
	text-decoration: underline;
}

/* media queries to be fixed */
@media only screen and (max-width: 1000px) {
		.grid-parent{
			grid-template-columns: 1fr 1fr;
		}
	}
	@media only screen and (max-width: 600px) {
		.grid-parent{
			grid-template-columns: 1fr;
		}
	}